* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-main {
  margin: 0;
  height: 50px;
  background-color: #ff9a4b;
}

.main {
  padding: 50px 30px;
  display: flex;
  flex-wrap: nowrap;
}

.step {
  color: white;
  background-color: #ff9a4b;
  font-size: 11px;
  position: absolute;
}
.topic1 {
  background-color: #eeeeee;
  width: 300px;
  margin-right: 30px;
  margin-left: auto;
}

.pic1 {
  background-image: url(img9/flow01.png);
  width: 280px;
  height: 150px;
  background-size: cover;
  background-position: bottom;
  margin: 10px;
}

.topic2 {
  background-color: #eeeeee;
  width: 300px;
  margin-right: 30px;
}
.pic2 {
  background-image: url(img9/flow02.png);
  width: 280px;
  height: 150px;
  background-size: cover;
  background-position: bottom;
  margin: 10px;
}

.topic3 {
  background-color: #eeeeee;
  width: 300px;
  margin-right: auto;
}

.pic3 {
  background-image: url(img9/flow03.png);
  width: 280px;
  height: 150px;
  background-size: cover;
  background-position: bottom;
  margin: 10px;
}

.title {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.text {
  margin: 10px;
}

.under-main {
  margin: 0;
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width:768px){

.top-main {
  width: 100%;
  margin: 0;
}

.main {
   width: 100%;
   display: block;

 }

.topic1 {
  width: 90%;
  margin: 0 0 20px 0;
  padding: 10px;
  
}
.pic1 {
  background-size: cover;
  background-position: bottom;
  margin: 10px;
  width: 80%;
}

.topic2 {
  width:90%;
  margin-bottom: 20px;
  padding: 10px;
}

.pic2 {
  width: 80%;
  margin: 10px;
  background-size: cover;
  background-position: bottom;
}

.topic3 {
  width: 90%;
  padding: 10px;
}

.pic3 {
  width: 80%;
  margin: 10px;
  background-size: cover;
  background-position: bottom;
}


.under-main {
  width: 100%;
  margin: 0;
}
}
